<section class="section programs" id="programs">

    <div class="container">
    
        <h2 class="programs__title">Вибери свій формат участі</h2>

        <ul class="formats">
    
            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Формат 1</p>
                    <p class="formats__primary-text">Онлайн марафон <br> «Пружні сідниці + Струнка талія»</p>
                    <p class="formats__secondary-text">Доступ до YouTub каналу</p>
                    <p class="formats__secondary-text">Різноманітні тренування на всі групи м'язів</p>
                    <p class="formats__secondary-text">Індивідуальний раціон харчування з прикладами кожного прийому їжі</p>
                    <p class="formats__secondary-text">Онлайн підтримка 24/7</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs1-open>Замовити</button>
            </li>

            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Формат 2</p>
                    <p class="formats__primary-text">Програма тренувань + раціон харчування</p>
                    <p class="formats__secondary-text">Щоденні завдання з тренувань, харчування та основні лайфхаки ЗОЖ</p>
                    <p class="formats__secondary-text">Повна проргамма тренувань у відеоформаті</p>
                    <p class="formats__secondary-text">Доступний раціон харчування з прикладами кожного прийому їжі</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs2-open>Замовити</button>
            </li>

            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Формат 3</p>
                    <p class="formats__primary-text">Персональна робота "Один на один"</p>
                    <p class="formats__secondary-text">45-60 хвилині тренування онлайг через Zoom/Skype</p>
                    <p class="formats__secondary-text">Контроль техніки вправ</p>
                    <p class="formats__secondary-text">Контроль техніки дихання</p>
                    <p class="formats__secondary-text">Перевірка та коригування раціону харчування</p>
                    <p class="formats__secondary-text">Питання-відповіді у прямому ефірі</p>
                    <p class="formats__secondary-text">Онлайн підтримка 24/7</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs3-open>Замовити</button>
            </li>
        </ul>
        
    </div>

</section>