<header class="header">
    <h2>HEADER</h2>
</header>

<!-- <nav class="header nav-class" id="sticky" >
    <h3 class="logo-txt">Fitness Trainer</h3>
    <a href="#" class="toggle-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links">
        <ul class="nav-list">
            <li class="nav-item"><a id="nav-link" href="index.html">Головна</a></li>
            <li class="nav-item"><a id="nav-link" href="index.html">Результати</a></li>
            <li class="nav-item"><a id="nav-link" href="index.html">Програми тренувань</a></li>
            <li class="nav-item"><a id="nav-link" href="index.html">Про тренера</a></li>
            <li class="nav-item"><a id="nav-link" href="index.html">Відгуки</a></li>
            <li class="nav-item"><a id="nav-link" href="index.html">Контакти</a></li>
        </ul>
    </div>
</nav> -->