<section class="section programs">

    <div class="container">
    
        <h2 class="section__title">Вибери свій формат участі</h2>

        <ul class="contacts" id="contact">
    
            <li class="contacts__item">
                <p class="contacts__title">Формат 1</p>
                <p class="contacts__primary-text">Раціон харчування</p>
                <p class="contacts__secondary-text">Доступний раціон харчування з прикладами кожного прийому їжі</p>
                <p class="contacts__secondary-text">В подарунок авторчьки збіник із 120 ПП-рецептами</p>
                <p class="contacts__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                <button type="button" class="contacts__button">Замовити</button>
            </li>

            <li class="contacts__item">
                <p class="contacts__title contacts__title--bgcolor-gren">Формат 2</p>
                <p class="contacts__primary-text">Програма тренувань + раціон харчування</p>
                <p class="contacts__secondary-text">Щоденні завдання з тренувань, харчування та основні лайфхаки ЗОЖ</p>
                <p class="contacts__secondary-text">Повна проргамма тренувань у відеоформаті</p>
                <p class="contacts__secondary-text">Доступний раціон харчування з прикладами кожного прийому їжі</p>
                <p class="contacts__secondary-text">В подарунок авторчьки збіник із 120 ПП-рецептами</p>
                <p class="contacts__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                <button type="button" class="contacts__button">Замовити</button>
            </li>

            <li class="contacts__item">
                <p class="contacts__title">Формат 3</p>
                <p class="contacts__primary-text">Персональна робота один на один</p>
                <p class="contacts__secondary-text">Особиста 60-хвилинна консультація з визначенням індивідуальних задач</p>
                <p class="contacts__secondary-text">Повна програма тренувань у відповідності з цілями (тонус, схуднення, набір маси)</p>
                <p class="contacts__secondary-text">Щоденна перевірка та корегування раціону харчування</p>
                <p class="contacts__secondary-text">В подарунок авторчьки збіник із 120 ПП-рецептами</p>
                <p class="contacts__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                <button type="button" class="contacts__button">Замовити</button>
            </li>
        </ul>
    </div>

    <!-- <h2 class="section__title">Вибери свій формат участі</h2>

    <div>
        <h3>Fitness Sprint</h3>
        <p>Тренування вдома або в залі</p>
        <ul>
            <li>Щоденні завдання з тренувань, харчування та основні лайфхаки ЗОЖ</li>
            <li>Повна проргамма тренувань у відеоформаті</li>
            <li>Доступний аціон харчування з прикладами кожного прийому їжі</li>
            <li>В подарунок авторчьки збіник із 120 ПП-рецептами</li>
            <li>Важливо! Результат гарантований завдяки дотриманню виконання плана програми</li>
        </ul>
        <button type="button">Вибрати</button>
    </div>

    <div>
        <h3>V. I. P.</h3>
        <p>Персональна робота один на один</p>
        <ul>
            <li>Особиста 60-хвилинна консультація з визначенням індивідуальних задач</li>
            <li>Повна програма тренувань у відповідності з цілями (тонус, схуднення, набір маси)</li>
            <li>Щоденна перевірка та корегування раціону харчування</li>
            <li>В подарунок авторчьки збіник із 120 ПП-рецептами</li>
            <li>Важливо! Результат гарантований завдяки дотриманню виконання плана програми</li>
        </ul>
        <button type="button">Вибрати</button>
    </div> -->

</section>