<section class="section programs">
    <h2 class="section__title">Вибери свій формат участі</h2>

    <div>
        <h3>Fitness Sprint</h3>
        <p>Тренування вдома або в залі</p>
        <ul>
            <li>Щоденні завдання з тренувань, харчування та основні лайфхаки ЗОЖ</li>
            <li>Повна проргамма тренувань у відеоформаті</li>
            <li>Доступний аціон харчування з прикладами кожного прийому їжі</li>
            <li>В подарунок авторчьки збіник із 120 ПП-рецептами</li>
            <li>Важливо! Результат гарантований завдяки дотриманню виконання плана програми</li>
        </ul>
        <button type="button">Вибрати</button>
    </div>

    <div>
        <h3>V. I. P.</h3>
        <p>Персональна робота один на один</p>
        <ul>
            <li>Особиста 60-хвилинна консультація з визначенням індивідуальних задач</li>
            <li>Повна програма тренувань у відповідності з цілями (тонус, схуднення, набір маси)</li>
            <li>Щоденна перевірка та корегування раціону харчування</li>
            <li>В подарунок авторчьки збіник із 120 ПП-рецептами</li>
            <li>Важливо! Результат гарантований завдяки дотриманню виконання плана програми</li>
        </ul>
        <button type="button">Вибрати</button>
    </div>

</section>