<section class="section description">
    <h2 class="section__title">Трансформація до бажаного результату</h2>
    <h3>Завдяки покроковим діям, розробленної та успішно практикуючій методиці, вже схудли понад 700 жінок</h3>
    
    <div>
        <h4>Після моїх тренувань ви отримаєте</h4>
        <ul>
            <li>Жаданний результат</li>
            <li>Впевненість у собі</li>
            <li>Відчуття легкості</li>
            <li>Підвищення працездатності</li>
            <li>Дисциплінованість</li>
        </ul>
    </div>
</section>