<section class="section about-trainer">
    <h2 class="section__title">Про тренера</h2>
    <p>Представлюсь: мене звати Анастасія Мірошник</p>
    <ul>
        <li>Фіз. реабілітолог з вищою освітою</li>
        <li>Сертифікований дієтолог-нутріціолог</li>
        <li>Практикуючий фітнес-тренер з 2013 року</li>
        <li>Автор ефективної методики схуднення "Fitness Sprint"</li>
        <li>Ділюсь експетністю в засобах масової інформації</li>
        <li>Досвід в фітнес-індустрії понад 9 років</li>
    </ul>
</section>