<section class="section reviews">
    <h2 class="section__title">Відгуки</h2>

    <div>
        <p>Ім'я Прізвище +фото</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aspernatur voluptates, fugiat necessitatibus tempora molestiae natus nesciunt maiores? 
            Dolores, deleniti temporibus illo harum molestias ut aliquam necessitatibus voluptate id hic quam?</p>

        <p>Ім'я Прізвище +фото</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aspernatur voluptates, fugiat necessitatibus tempora molestiae natus nesciunt maiores? 
            Dolores, deleniti temporibus illo harum molestias ut aliquam necessitatibus voluptate id hic quam?</p>

        <p>Ім'я Прізвище +фото</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aspernatur voluptates, fugiat necessitatibus tempora molestiae natus nesciunt maiores? 
            Dolores, deleniti temporibus illo harum molestias ut aliquam necessitatibus voluptate id hic quam?</p>
    </div>

</section>